@font-face {
    font-family: "Timer";
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0EA5E9;
    background-size: cover;
    padding-bottom: 50px;
    color: #BAE6FD;
}

.score, .score-btn {
    font-family: "Timer", sans-serif;
}

.score {
    background-color: #4B5563;
    border-radius: 5px;
    padding: 20px 0px;
    font-size: 3rem;
    margin: 10px;
}

.score-btn {
    color: #BAE6FD;
    background-color: transparent;
    border: 1px solid #BAE6FD;
    padding: 8px;
    border-radius: 5px;
}

.score-btn:hover {
    background-color: #4B5563;
}

#new-game {
    background-color: #4B5563;
    border: none;
    border-radius: 5px;
    color: #BAE6FD;
    font-size: 2rem;
    padding: 8px 16px;
}

#new-game:hover {
    font-weight: bold;
}

